.container2 {
    float: left;
  }

span.c {
  display: block;
  width: 500;
  height: 330px;  
  background-color: #0da2ff; 
}

.ctxt {
color: white;
}

.container3 {
    float: left;
}

span.d {
  display: block;
  width: 500;
  height: 110px;    
  background-color: #FDB616; 
}

a:link {
    font-weight: bold;
    color: white;
    outline: black;
  }
  
  /* visited link */
  a:visited {
    font-weight: bold;
    color: white;
    outline: black;
  }
  
  /* mouse over link */
  a:hover {
    font-weight: 1100;
    color: white;
    outline: black;
  }
  
  /* selected link */
  a:active {
    font-weight: lighter;
    color: gainsboro;
  }