.container2 {
    float: left;
  }

span.c {
  display: block;
  width: 500;
  height: 330px;  
  background-color: #0da2ff; 
}

.ctxt {
color: white;
}

.container3 {
    float: left;
}

span.d {
  display: block;
  width: 500;
  height: 250px;    
  background-color: #FDB616; 
}