.container2 {
    float: left;
  }

div.snaptour {
  display: block;
  width: 500;
  height: 330px;  
  background-color: #0da2ff; 
}

.ctxt {
color: white;
}

.container3 {
    float: left;
}

div.scratchtour {
  display: block;
  width: 500;
  height: 125px;    
  background-color: #FDB616; 
  padding-top: 1px;
}

div.githubtour {
  display: block;
  width: 500;
  height: 125px;    
  background-color: #0c0258; 
  padding-top: 1px;
}

a:link {
    font-weight: bold;
  }
  
  /* visited link */
  a:visited {
    font-weight: bold;
  }
  
  /* mouse over link */
  a:hover {
    font-weight: 1100;
  }
  
  /* selected link */
  a:active {
    font-weight: 800;
  }

  