.dropdown .dactive {
    font-size: 16px;  
    border: none;
    outline: none;
    background-color: #191970;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }